---
title: hub2o - Welcome to The Future
---

<div id="home">
  <div class="home-content">
    <%= image_tag "hub2o_logo_draft.png", width: "200" %>
    <p>
      Coming soon...
    </p>
    <p class="about">
      <%= link_to "Join The Change Tribe", "about.html" %>
    </p>
  </div>
</div>
